<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ title | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle | lowercase }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- <app-home></app-home> -->
    <span>{{ todaydate | date:'MM/dd/yyy' }}</span>
    <br>
    <span>{{ title | reverse }}</span>
    <br>
    <input type="checkbox" name="test" id="test" [checked]="isDisabled">
    <input type="checkbox" name="test2" id="test2" checked="{{ isDisabled }}">
    <br>
    <input type="text" value="{{ isDisabled }}">
    <br>
    <!-- <input type="text" (keyup)="updateTitle($event)"> -->
    <input type="text" [(ngModel)]="title">
    <br>
    <button (click)="changeTitle()">Click Here</button>
    <br>
    <div [ngClass]="{'active': isDisabled, 'inactive': !isDisabled}">
      <h2>Attribute Directive</h2>
    </div>
    <br>
    <div *ngIf="isShow">
      <h2 [ngStyle]="{'color': _color, 'font-size.px': _font}">Attribute Directive</h2>
    </div>

    <div *ngFor="let ticket of ticketInfo" [ngStyle]="{ 'background-color': ticket.color, 'color': 'white' }">
      <span>ID: {{ ticket.id }}</span>
      <h2>NAME: {{ ticket.name | uppercase }}</h2>
    </div>

    <div [ngSwitch]="_view">
      <div *ngSwitchCase="'home'">
        <h2>This is the Home view:</h2>
      </div>
      <div *ngSwitchCase="'about'">
        <h2>This is the About view:</h2>
      </div>
      <div *ngSwitchDefault>
        <h2>This is the Default view.</h2>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card>
